@charset "uft-8";
#wrap{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
/* 플롯해제 */
header::after{
    content: "";
    display: block;
    clear: both;
}
header{
    height: 80px;
    background-color: orange;
}
header h1{
    width: 150px;
    height: 80px;
    line-height: 80px;
    background-color: #ccc;
    float: left;
}
header nav{
    float: left;
}
header .gnb{
    width: 850px;
    height: 80px;
    line-height: 80px;
    background-color: orangered;
}
header .gnb li{
    margin-left: 40px;
    /* 플롯 */
    float: left;
}
header .gnb li:nth-child(1){
    margin-left: 0 !important;
}
header .gnb li a:hover{
    color: #fff;
}
article::after{
    content: "";
    display: block;
    clear: both;
}
#left_side{
    width: 300px;
    height: 500px;
    line-height: 500px;
    background-color: pink;
    float: left;
}
#right_side{
    width: 700px;
    height: 500px;
    line-height: 500px;
    background-color: green;
    float: left;
}
footer{
    height: 80px;
    line-height: 80px;
    background-color: yellowgreen;
}
aside{
    width: 80px;
    height: 200px;
    line-height: 200px;
    background-color: #33b4bf;
    position: absolute;
    right: -80px;
    top: 0;
    z-index: 1;
}