@charset "utf-8";
html{
    font-size: 62.5%;
}
body{
    font-family: 'Noto Sans KR',sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 8px;
}

/* Header Area */
#header{
    padding: 10px 0;
}
#header h1{
    font-size: 2.1rem;
    line-height: 2;
    color: #222;
    font-weight: 600;
    letter-spacing: -1.5px;
    font-family: 'Roboto',sans-serif;
}
#header ul{
    margin: 20px 0 10px;
}
#header ul li{
    margin: 10px 0;
}
#header ul li a{
    font-size: 1.4rem;
    color: #555;
}


/* Contents 1 Area */
#main_content{
    background: #00afa0;
    padding: 40px 15px 30px;
    font-size: 1.4rem;
}
#main_content h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
#main_content p{
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}

/* Contents 2 Area */
#sub_content{
    padding: 24px;
    font-size: 1.6rem;
}
#sub_content h2{
    font-size: 2rem;
    color: #171616;
    margin-bottom: 20px;
}
#sub_content p{
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}
#sub_content img{
    width: 100%;
    margin: 10px auto;
}


/* Footer Area */
#footer{
    padding-top: 40px;
}
#footer footer{
    font-size: 1.1rem;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #323232;
}


/* GNB CSS 토글효과 */
#header{
    /* 포지션 위치기준값 */
    position: relative;
}

#c_checkbox{
    display: none;
}
/* GNB CSS 토글효과2 */
#header label{
    display: block;
}
.ham{
    cursor: pointer;
    /* 플롯 */
    float: left;
}
.search{
    /* 플롯 */
    float: right;
}
.logo{
    text-align: center;
}

/* 로딩시 checkbox가 1일 경우 nav를 안보이도록 코딩 */
#c_checkbox:checked+nav{
    display: none;
}
/* 클릭시 GNB nav가 보이도록 코딩 */
#c_checkbox+nav{
    display: block;
}