@charset "utf-8";
/* 폰트크기 root 기준값을 10px로 */
html{
    /* (10/16)*100 */
    font-size: 62.5%;
}
.w1300{
    max-width: 1300px;
    width: 1300px;
    margin: 0 auto;
}
body{
    font-family: 'Noto Sans KR',sans-serif;
}
#wrap{
    width: 100%;
}

/* Aside SNB */
aside{
    height: 50px;
    background-color: #1d1c2e;
    color: #fff;
    font-weight: 700;
}
.top_sub{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.top_sub p{
    font-size: 1.4rem;
}
.top_sub p:nth-child(1) { 
    line-height: 55px;
    margin-left: 410px;
}
.top_sub p:nth-child(2) {
    line-height: 55px;
    margin-left: -365px;
}
.top_sub p:nth-child(2) img{
    vertical-align: middle;
    margin-top: -4px;
}
.top_sub p:nth-child(3) {
    margin-top: 18px;
}
.top_sub p:nth-child(3) img{
    vertical-align: middle;
}


/* Header */
.lnb_all{
    border-bottom: 1px solid #c9c9c9;
}
.root_lnb{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 72px;
    background: #fff;
    padding-left: 536px;
    padding-top: 24px;
}
.root_lnb .local .lnb{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    padding-top: 4px;
}
.root_lnb .local .lnb li{
    margin-left: 12px;
}
.root_lnb .local .lnb li:nth-child(1){
    margin-left: 0;
}


/* GNB Menu */
.gnb_all{
    border-bottom: 1px solid #c9c9c9;
}
.global{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 54px;
    line-height: 54px;
    font-size: 1.1rem;
}
.global h2{
    margin-top: 13px;
}
.global .gnb{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
}
.global .gnb li{
    margin-right: 52px;
}
.global .gnb li a{
    color: #020202;
    font-weight: 600;
}
.global .gnb li a:hover{
    color: #f53fb8;
}
.global .snb{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
}
.global .snb li{
    margin-left: 28px;
}
.global .snb li a{
    color: #020202;
    font-weight: 500;
}


/* Slider */
.slider img{
    max-width: 100%;
}









/* Contents */
main{

}

/* Section 01 */
.md_pick{
    /* 플렉스 */
    display: flex;
    margin-top: 142px;
}
.md_pick h3{
    text-align: center;
    padding-top: 35px;
}

.md_pick .md_pick_area{
    margin-top: 32px;
    /* 포지션 */
    position: relative;
    left: -60px;
    top: 0;
    z-index: 1;
}
.md_pick .md_pick_area ul{
    /* 플렉스 */
    display: flex;
}
.md_pick .md_pick_area ul li{
    margin-right: 10px;
    
}
.md_pick .md_pick_area+p{
    padding-top: 28px;
    padding-right: 60px;
    text-align: right;
}

/* Section 02 */
.real_title{
    background-color: #f5f5f5;
    margin-top: 150px;
}
.real_title .real_time{
    /* 플렉스 */
    display: flex;
    /* 교차축 레이아웃 */
    align-items: center;
    padding-top: 88px;
    padding-left: 100px;
    padding-bottom: 88px;
}
.real_title .real_time ul{
    text-align: center;
    margin-right: 76px;
}
.real_title .real_time ul li{
    margin-bottom: 14px;
}
.real_title .real_time ul li:first-child{
    margin-bottom: 36px;
}
.real_title .real_time ul li:last-child{
    margin-top: 65px;
    margin-bottom: 0;
}
.real_title .real_time ul li a{
    font-size: 1.7rem;
    color: #393939;
    display: inline-block;
    width: 180px;
    height: 32px;
    line-height: 32px;
}
.real_title .real_time ul li a:hover{
    color: #fff;
    background-color: #a56fbb;
}
.real_title .real_time p{
    padding-top: 80px;
}


/* Section 03 */
.caxa{
    margin-top: 124px;
    padding-left: 84px;
}
.caxa h2{
    text-align: center;
    margin-bottom: 44px;
}
.caxa .caxa_sns{
    /* 플렉스 */
    display: flex;
}
.caxa .caxa_sns ul:first-child{
    /* 플렉스 */
    display: flex;
    flex-flow: column wrap;
}
.caxa .caxa_sns ul:first-child li:first-child{
    margin: 0 5px 5px 0;
}
.caxa .caxa_sns ul:nth-child(2) li{
    margin-right: 5px;
}
.caxa .caxa_sns ul:last-child{
    /* 플렉스 */
    display: flex;
    flex-flow: row wrap;
}
.caxa .caxa_sns ul:last-child li{
    margin: 0 5px 5px 0;
}
.caxa .caxa_sns ul:last-child li:nth-child(3),
.caxa .caxa_sns ul:last-child li:nth-child(6){
    margin-right: 0;
}
.caxa .caxa_sns ul:last-child li:nth-child(4),
.caxa .caxa_sns ul:last-child li:nth-child(5),
.caxa .caxa_sns ul:last-child li:nth-child(6){
    margin-bottom: 0;
}
.caxa p{
    text-align: right;
    padding-right: 80px;
    margin-top: 28px;
}


/* Footer */
footer{
    margin-top: 160px;
    background-color: #1d1c2e;
    padding-top: 24px;
    padding-bottom: 54px;
    line-height: 1.5;
}
.footer_information{
    /* 플렉스 */
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 68px;
}
.footer_left, .footer_contact{
    margin-top: 40px;
}
.footer_gnb{
    /* 플렉스 */
    display: flex;
    font-size: 1.4rem;
    color: #eeeef0;
    margin-bottom: 20px;
}
.footer_info{
    font-size: 1.2rem;
    color: #9a9c9b;
    color: #eeeef0;
    font-weight: 400;
}
.footer_escrow{
    /* 플렉스 */
    display: flex;
    margin-top: 26px;
}
.footer_escrow span{
    display: inline-block;
    margin-right: 46px;
}
.footer_info>p:last-child{
    margin-top: 32px;
}
.footer_contact{
    color: #cccdd1;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
}
.footer_contact dl:first-child dt+dd{
    font-size: 2.2rem;
}
.footer_contact dl:first-child dt+dd+dd{
    font-size: 1.2rem;
    font-weight: 300;
    color: #a8a9ad;
    margin-bottom: 42px;
}
.footer_contact dl:last-child dt+dd{
    font-size: 1.8rem;
    font-weight: 500;
}
.footer_contact dl:last-child dt+dd+dd{
    font-size: 1.3rem;
    color: #a4a5aa;
}