@charset "utf-8";
/* Safe Area width */
.w920{
    width: 920px;
    margin: 0 auto;
}

#wrap{
    width: 100%;
}
/* Header */
header{}
/* SNB Menu */
header .snb{
    background-color: #666;
}
header .snb ul{
    color: silver;
    font-size: 12px;
    line-height: 24px;
}
header .snb ul li{
    /* 플롯 */
    float: right;
    margin-left: 12px;
}
/* GNB Menu */
.gnb{}
.gnb h1{
    margin: 17px 0;
    float: left;
}
.gnb ul{
    float: right;
}
.gnb ul li{
    float: left;
    margin-left: 30px;
}
.gnb ul li a{
    color: #222;
    font-size: 14px;
    line-height: 68px;
}
.gnb ul li a:hover{
    color: red;
}
/* Slider */
.slider{
    width: 100%;
    height: 360px;
    background-color: greenyellow;
}

/* Contents */
section{
    padding: 30px 0;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6{
    width: 295px;
    height: 165px;
    background-color: cadetblue;
    margin-right: 17px;
    margin-bottom: 17px;
    float: left;
}
.box3,
.box6{
    margin-right: 0 !important;
}
.box4,
.box5,
.box6{
    margin-bottom: 0 !important;
}
/* Footer */
footer{
    font-size: 12px;
    color: #666;
    padding: 12px;
    border-top: 1px solid #222;
}
footer p{
    line-height: 1.5;
}