@charset "utf-8";
#wrap{
    background: black;
}
input[id="menuicon"]+label{
    background: none;
}
header{
    /* 포지션 위치기준값 */
    position: relative;
}
/* Ticket 페이지 링크 */
.ticket{
    /* 포지션 */
    position: absolute;
    right: 10%;
    top: 14px;
    z-index: 1;
    padding-right: 10px;
}
.ticket button{
    width: 114px;
    height: 32px;
    background-color: #fff;
    font-family: 'Lato',sans-serif;
}

/* Contents */
/* YouTube Section */
#contents .youtube{
    padding: 0 10px;
    transform: translateY(-100%);
}
#contents .youtube iframe{
    width: 100%;
}