@charset "utf-8";
body {
    font-family: 'Noto Sans KR',sans-serif;
}
/* 라인 CSS */
.line {
    border-bottom: 1px solid #000;
    margin-bottom: 24px;
}
.line2 {
    border-bottom: 1px solid #000;
    margin-top: 24px;
    margin-bottom: 24px;
}
#wrap {
    width: 640px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 40px;

}
.shop {

}
.goods_info {
    width: 240px;
    margin-right: 16px;
    /* 플롯 */
    float: left;
}
.goods_info .goods_img img {
    margin-bottom: 20px;
}
.goods_info .goods_thum {
    width: 50px;
    margin-right: 12px;
    /* 플롯 */
    float: left;
}
.goods_info .goods_text {
    line-height: 1.4;
    /* 플롯 */
    float: left;
}
.goods_info .goods_text p:nth-child(1) {
    font-size: 11px;
}
.goods_info .goods_text p:nth-child(2) {
    font-size: 12px;
}
.goods_info .goods_text p:nth-child(3) {
    font-size: 12px;
    font-weight: 600;
    /* tdu */
    text-decoration: underline;
    /* tdl, 가운데줄긋기 */
    /* text-decoration: line-through; */
}






/* 오른쪽 폼 */
.form {
    width: 300px;
    /* 플롯 */
    float: left;
}
.form h2 {
    font-size: 14px;
    margin-bottom: 24px;
}
.form h2+p {
    font-size: 11px;
    color: #565656;
    font-weight: 700;
    /* tdl, 가운데줄긋기 */
    text-decoration: line-through;
}
.form h2+p+p {
    font-size: 16px;
    font-weight: 700;
    color: #ff2f10;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

/* 테이블 */
table{
    font-size: 12px;
}
table th{
    width: 60px;
    text-align-last: 600;
}

/* 테이블 내 높이값 맞추기 */
.table_blank{
    height: 44px;
}
.table_blank2{
    height: 24px;
}
button{
    width: 148px;
    height: 48px;
    background: #0f20fd;
    border: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/* select CSS */
select{
    width: 300px;
    height: 34px;
    font-size: 12px;
    border: 1px solid #ccc;
    background: none;
    padding-left: 16px;
}

/* appearance = 브라우저에 기본적으로 설정되어 있는 요소를 표현 */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* IE select 화살표 없애기 */
select::-ms-expand{display:none;}


/* 배경이미지로 화살표 넣기 */
select{
    background-image: url(../images/arrow1.jpg);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 255px;
}
