@charset "utf-8";
.w1240{
    width: 1240px;
    margin: 0 auto;
}
h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 40px;
}
form{
    margin: 0 220px;
}
.table_1{
    border-top: 1px solid #e8e8e8;
}
table tr th img{
    vertical-align: bottom;
}

table.table_2 caption{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
table{
    width: 100%;
    padding: 10px 0;

}
table tr th{
    width: 130px;
    text-align: left;
    padding-left: 10px;
}
input[type="radio"]{
    width: 20px;
}
caption p:nth-child(1){
    font-size: 16px;
    font-weight: 600;
    /* padding-left: 10px; */
}
caption p:nth-child(2) img{
    vertical-align: bottom;
}


.table_2{
    border-bottom: 1px solid #e8e8e8;
}

.table_3{
    border-bottom: 1px solid #e8e8e8;

}
.table_3 th{
    vertical-align: middle;
}
.table_3 input{
    border: 1px solid #e8e8e8;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}

.table_4{
    border-bottom: 1px solid #e8e8e8;
}
.table_4 input{
    border: 1px solid #e8e8e8;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}

.table_5{
    border-bottom: 1px solid #e8e8e8;
}
.table_5 input{
    border: 1px solid #e8e8e8;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}

.table_6{
    border-bottom: 1px solid #e8e8e8;
}
.table_6 input{
    border: 1px solid #e8e8e8;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}
.table_7{
    border-bottom: 1px solid #e8e8e8;
}
.table_7 input{
    border: 1px solid #e8e8e8;
    width: 150px;
    height: 30px;
    vertical-align: middle;
}


select{
    border-color: #e8e8e8;
    width: 50px;
    height: 30px;
}

.table_8{
    border-bottom: 1px solid #e8e8e8;
}
.table_8 input{
    border: 1px solid #e8e8e8;
    width: 50px;
    height: 30px;
    vertical-align: middle;
}

.table_9{
    border-bottom: 1px solid #e8e8e8;
}
.table_9 input{
    border: 1px solid #e8e8e8;
    width: 50px;
    height: 30px;
    vertical-align: middle;
}

.table_10{
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 50px;
}
.table_10 input{
    border: 1px solid #e8e8e8;
    width: 180px;
    height: 30px;
    vertical-align: middle;
}

.table_11{
    border-bottom: 1px solid #e8e8e8;
}
.table_11 caption p{
    text-align: left;
}


.table_12{
    border-bottom: 1px solid #e8e8e8;
}
.table_12 label:nth-child(1){
    margin-right: 10px;
}


.table_13{
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 50px;
}
.table_13 input{
    border: 1px solid #e8e8e8;
    width: 50px;
    height: 30px;
    vertical-align: middle;
}
.table_13 input:nth-child(4){
    width: 30px;
}
.table_13 input:nth-child(6){
    width: 30px;
}
.table_13 label:nth-child(7)>input{
    margin-left: 20px;
    width: 15px;
    height: 15px;
}
.table_13 label:nth-child(8)>input{
    margin-left: 20px;
    width: 15px;
    height: 15px;
}


/* 약관동의 */
.agreeTerms{
    border: 1px solid #e8e8e8;
    padding: 20px 0;
}
.agree{
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 20px 0;
}
.agree input{
    width: 30px;
    margin-right: -6px;
}
.agree label{
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.essense_1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 30px;
    padding: 15px 0 30px 0;
    border-bottom: 1px solid #e8e8e8;
    margin-right: 10px;
}
.essense_1 p:nth-child(1){
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-left: 10px;
}
.essense_1 p:nth-child(2)>input{
    width: 20px;
}
.essense_1 p:nth-child(2)>label{
    margin-left: -6px;
}

.detail_1{
    overflow: auto;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.essense_2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 30px;
    padding: 15px 0 30px 0;
    border-bottom: 1px solid #e8e8e8;
    margin-right: 10px;
    margin-bottom: 10px;
}
.essense_2 p:nth-child(1){
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-left: 10px;
}
.essense_2 p:nth-child(2)>input{
    width: 20px;
}
.essense_2 p:nth-child(2)>label{
    margin-left: -6px;
}

.detail_2{
    overflow: auto;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.3;
}


.selec{
    padding: 20px;    
}
.selec h3{
    font-size: 30px;
}