@charset "utf-8";
#wrap{
    width: 1440px;
    max-width: 90%;
    margin: 2% auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px #ccc;
}

header::after{
    /* 플롯해제 */
    content: "";
    display: block;
    clear: both;
}
header{
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 0 24px;
}
header>h1{
    font-size: 21px;
    line-height: 60px;
    /* 플롯 */
    float:left;

}
header>p{
    line-height: 60px;
    /* 플롯 */
    float: right;
}
header>p button{
    width: 100px;
    height: 36px;
    border: none;
    cursor: pointer;
}
header+p{
    padding: 24px;
    line-height: 1.4;
    color: #555;
}



section {
    padding: 24px;
}
section article>h2{
    font-size: 17px;
    color: #444;
    padding: 20px 0;
    margin-bottom: 8px;
}
section article>p{
    width: 98%;
    margin: 0 auto;
    padding: 16px;
    line-height: 1.4;
    color: rgb(92,92,92);
    background-color: rgb(240,240,240);
}


footer{
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* 스크립트 관련 */
.open1, .close1{
    display: inline-block;
    border: none;
    width: 80px;
    height: 36px;
    background: #eee;
    margin-left: 10px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

/* 로딩시 해당 내용 안보이도록 */
article p{
    display: none;
}