@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap{
    width: 960px;
    margin: 0 auto;
    background-color: red;
}


/* Header */
header{
    width: 100%;
    background-color: #bf545d;
}
header .logo{
    width: 96px;
    /* 플롯 */
    float: left;
}
header nav{
    /* 플롯 */
    float: right;
}
header ul li{
    width: 40px;
    margin-top: 40px;
    /* 플롯 */
    float: right;
}


/* Article */
article{
    background-color: #03588c;
    text-align: center;
    padding: 16px 0;
    color: #fff;
}
article h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
article p{
    font-family: 'Nanum Pen Script', cursive;
    line-height: 1.5;
}



/* Contents */
#gallery{
    padding: 10px 0;
}
#gallery li{
    width: 220px;
    margin: 10px;
    /* 플롯 */
    float: left;
}
#gallery li img{
    width: 100%;
    border-radius: 5px;
}



/* Footer */
footer{
    background-color: #0d0d0d;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 13px;
}