@charset "utf-8";
/* 공통 CSS = 모바일 퍼스트 */
#wrap{
    /* (960px) */
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #000;
}
#wrap h1{
    color: blue;
    padding: 24px 0;
}
#wrap ul li{
    width: 100%;
}
#wrap ul li img{
    width: 90%;
}
#wrap p{
    font-size: 0.75rem;
    padding: 12px 0;
    line-height: 1.6;
}

/* 768px 이상 959px 이하*/
@media screen and (min-width:768px) and (max-width:959px){
    body{
        background-color: gray;
    }
    #wrap{
        /* (960px) */
        width: 90%;
        margin: 0 auto;
        text-align: center;
        color: #000;
    }
    #wrap h1{
        color: blue;
        padding: 24px 0;
        /* 추가 */
        font-size: 2rem;
    }
    #wrap ul li{
        width: 50%;
        /* 플롯 */
        float: left;
    }
    #wrap ul li img{
        width: 90%;
    }
    #wrap p{
        font-size: 0.75rem;
        padding: 12px 0;
        line-height: 1.6;
        /* 수정 */
        font-size: 1rem;
        /* 추가 */
        color: #fff;
    }
}



/* 1024px 이상 */
@media screen and (min-width:1024px){
    body{
        /* 수정 */
        background-color: rgb(41, 40, 40);
    }
    #wrap{
        /* (960px) */
        width: 90%;
        margin: 0 auto;
        text-align: center;
        color: #000;
    }
    #wrap h1{
        color: blue;
        padding: 24px 0;
        /* 수정 */
        font-size: 3rem;
    }
    #wrap ul li{
        width: 50%;
        /* 플롯 */
        float: left;
    }
    #wrap ul li img{
        width: 90%;
    }
    #wrap p{
        font-size: 0.75rem;
        padding: 12px 0;
        line-height: 1.6;
        font-size: 1rem;
        color: #fff;
        /* 추가 */
        border: 1px dotted #fff;
    }
}

