@charset "utf-8";
/* Viewport 가변단위 */
/* 내 마음속의 기준값 */
/* 1920(vw 내 마음속의 기준값) x 936(vh 내 마음속의 기준값) */
*{
    /* bgc의 기본값 transparent */
    background-color: transparent !important;
}
.maxw1440{
    max-width: 1440px;
    /* (1440/1920)*100 = 75 */
    max-width: 75vw;
    margin: 0 auto;
}
body, html{
    font-size: 16px;
    /* (16/936)*100 = 1.7094017094017095 */
    font-size: 1.7094017094017095vh;
    font-family: 'Noto Sans KR',sans-serif;
}

#wrap{
    width: 100vw;
    height: 100vh;
    /* 포지션 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

/* Video Background */
.video_wrapper{
    width: 100vw;
    height: 100vh;
    /* 포지션 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.video_wrapper video{
    width: 100vw;
    height: 100vh;
    /* 속성에서 플롯주는법 */
    object-fit: fill;
}

/* Video Control Button */
#car_btn{
    /* 포지션 */
    position: fixed;
    left: 48px;
    /* (48/1920)*100 = 2.5 */
    left: 2.5vw;
    bottom: 56px;
    /* (56/936)*100 = 5.982905982905983 */
    bottom: 5.982905982905983vh;
    z-index: 100;
}
#car_btn i{
    font-size: 24px;
    /* (24/936)*100 = 2.564102564102564 */
    font-size: 2.564102564102564vh;
    color: #fff;
    cursor: pointer;
}

/* Sound Control Button */
#car_sound{
    /* 포지션 */
    position: fixed;
    left: 96px;
    /*(96/1920)*100 = 5  */
    left: 5vw;
    bottom: 56px;
    /* (56/936)*100 = 5.982905982905983  */
    bottom: 5.982905982905983vh;
    z-index: 100;
}
#car_sound i{
    font-size: 24px;
    /* (24/936)*100 = 2.564102564102564 */
    font-size: 2.564102564102564vh;
    color: #fff;
    cursor: pointer;
}

/* Image Text */
.video_text{
    /* 포지션 */
    position: fixed;
    left: 48px;
    /* (48/1920)*100 = 2.5 */
    left: 2.5vw;
    bottom: 100px;
    /* (100/936)*100 = 10.683760683760683 */
    bottom: 10vh;
    z-index: 200;
}
.video_text h2{
    font-size: 72px;
    /* (72/936)*100 = 7.6923076923076925 */
    font-size: 7.7vh;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}
.video_text p{
    font-size: 21px;
    /* (21/936)*100 = 2.2435897435897436 */
    font-size: 2.2vh;
    color: #fff;
    font-weight: 300;
    margin-top: 16px;
    /* (16/936)*100 = 1.7094017094017095 */
    margin-top: 1.7vh;
    /* 들여쓰기 */
    text-indent: 0.2em;
}


/* Header */
.header{
    color: #fff;
    /* 플렉스 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 30px;
    /* (30/936)*100 = 3.205128205128205 */
    padding-top: 3.205128205128205vh;
    text-align: center;
}
.header h1{
    width: 80px;
    /* (80/1440)*100 = 5.555555555555555 */
    /* (80/936)*100 = 8.547008547008547 */
    width: 8vw;
    /* width: 5vw; */
}
.header .gnb_wrap{
    font-size: 20px;
    /* (20/936)*100 = 2.1367521367521367 */
    font-size: 2.1367521367521367vh;
    font-weight: 500;
}
.header .gnb{
    /* 플렉스 */
    display: flex;
}
.header .gnb li{
    padding: 0 40px;
    /* (40/1920)*100 = 2.083333333333333 */
    padding: 0 2.083333333333333vh;
}
.header .sub_wrap{
    font-size: 14px;
    /* (14/936)*100 = 1.4957264957264957 */
    font-size: 1.4957264957264957vh;
}
.header .snb{
    /* 플렉스 */
    display: flex;
}
.header .snb li{
    padding: 0 8px;
}
.header .snb li:last-child{
    border: 1px solid #fff;
    font-size: 12px;
    /* (12/936)*100 = 1.282051282051282 */
    font-size: 1.282051282051282vh;
    padding: 4px 12px;
    /* (4/1440)*100 = 0.2777777777777778 */
    /* (12/936)*100 = 1.282051282051282 */
    padding: 0.2777777777777778vw 1.282051282051282vh;
    margin-top: -4px;
    /* (4/936)*100 = 0.4273504273504274 */
    margin-top: -0.4273504273504274vh;
}