@charset "utf-8";
/* 전체 스타일 변수 정의하여 사용 = var()로 속성값 변수명 사용 */
/* 반드시 --영문변수명 사용 */
/* 전역변수를 사용할때는 꼭 :root를 써야함 */
:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color:pink;
}
/* 현재 코딩 뷰포트 단위 계산 기준 픽셀 : 1440x800 */
body {
    color: var(--text-color);
    font-family: 'Noto Sans',sans-serif;
    letter-spacing: -1px;
}
header {
    height: 10vh;
    line-height: 10vh;
    background-color: var(--background-color);
    padding: 0 5%;
    /* 플렉스 */
    display: flex;
    justify-content:space-between;
}
h1 {
    /* 플렉스 */
    display: flex;
}
h1>a {
    font-size: 4.5vh;
    margin-right: 16px;
}
h1>p {
    font-size: 3vh;
}
#gnb ul {
    /* 플렉스 */
    display: flex;
    text-align: center;
}
#gnb ul li{
    padding: 0 12px;
}
#gnb ul li:hover {
    background-color: var(--accent-color);
    border-radius: 4px;
}

#lnb ul {
    /* 플렉스 */
    display: flex;
    text-align: center;
}
#lnb ul li{
    padding: 0 6px;
}
#lnb ul li:hover{
    background-color: var(--accent-color);
}
#lnb ul li a{
    font-size: 3vh;
}

/* 햄버거 */
.ham{
    /* 포지션 relative 안쓰면 바디가 그 역할을 한다. */
    position: absolute;
    right: 32px;
    font-size: 3vh;
    display: none;
}

/* 태블릿 768이하 미디어쿼리 */
@media screen and (max-width:768px){
    body {
        background-color: #263343;
        background-color: var(--background-color);
    }
    header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }
    h1 {
        padding-left: 32px;
    }
    #gnb {
        width: 100%;
    }
    #gnb ul {
        flex-direction: column;
        /* 교차축방향 잡기 */
        align-items: center;
        display: none;
    }
    #gnb ul li {
        width: 100%;
    }
    #lnb {
        width: 100%;
    }
    #lnb ul {
        justify-content: center;
        /* 스크립트로 제어할 것 */
        display: none;
    }
    .ham {
        display: block;
    }

    /* 스크립트 클래스 */
    #gnb.active ul,
    #lnb.active ul {
        display: flex;
    }
}
